body {
  background: linear-gradient(to right, #232526, #414345);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.auth-container {
  background: #1f1f1f;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  background: #00c6ff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#message {
  margin-top: 10px;
  font-size: 14px;
}
